*{
    margin: 0;
    padding: 0;
   
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url('https://ychef.files.bbci.co.uk/1280x720/p02k6vry.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    font-size: 30px;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    
}
h1{
    font-size: 20px;
    margin-right: 10px;
   
  
}